.app {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 90vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: #f8f9fd;
}

.input_container input {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 1.2rem 10px;
}
.input_container input:-webkit-autofill,
.input_container input:-webkit-autofill:hover,
.input_container input:-webkit-autofill:focus,
.input_container input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
}
.input_container input:focus {
    border: 1px solid  rgba(0, 118, 255, 0.9);
    outline: none;

}

.button_container input {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    color: #fff;
    padding: 7px 20px;
    /* display: block; */
    width: 100%;
    background-color: rgba(0, 118, 255, 0.9);
    border: 1px px solid rgba(0, 118, 255, 0.9);
    color: #fff;
    outline: none !important;
    border-radius: 5px;
}

.button_container button {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    color: #fff;
    padding: 7px 20px;
    /* display: block; */
    width: 100%;
    background-color: rgba(0, 118, 255, 0.9);
    border: 1px px solid rgba(0, 118, 255, 0.9);
    color: #fff;
    outline: none !important;
    border-radius: 5px;
}


.button_container {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    font-size: 13px;
}

.login_form {
    min-width: 25%;
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.login_form1 {
    margin-top: 20px;
    min-width: 30%;
    background-color: white;
    padding: 2rem;
    height: 90vh;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.login_form1::-webkit-scrollbar {width: 1px;}
.list_container {
    display: flex;
}

.error {
    color: red;
    font-size: 12px;
}

.title {
    font-size: 1rem;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.title span:first-child:hover {
    font-size: 1rem;
    color: blue;
    /* text-decoration: underline; */
    cursor: pointer;
}


.title span:last-child:hover {
    font-size: 1rem;
    color: blue;
    /* text-decoration: underline; */
    cursor: pointer;

}


.input_container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
}